version: "3.9"

services:
  wordpress:
    image: wordpress:php8.2-fpm
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_TABLE_PREFIX: ${WP_TABLE_PREFIX}
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.http.routers.wc.rule: "Host(rd-prod.ukaykhing.com)"
      traefik.http.routers.wc.entrypoints: "web"
      traefik.http.services.wc.loadbalancer.server.port: "80"
    volumes:
      - wp_data:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - wordpress

  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  wp_data:
  db_data:
